@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* :not(i){
    font-family: "Fredoka", sans-serif;

}

body{
    color: white;
    background-color: #0B162C;
}

h1 {
    margin: 0; 
    padding: 0; 
    text-align: center; 
    color: #e5e7eb; 
    font-size: 2.5em; 
}
.top{
    display: flex;
    padding-left: 1%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0B162C;
}
i{
    margin-right: 12px;
}
#titre{
    background-color:  #1C2942;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 32px ;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 100%;
}
p#titre{
    margin-top: 0pc;
    margin-bottom: 0pc;
}
.nav2{
    display: flex;
    justify-content: center;
    background-color: #3B556D;
    overflow: hidden;
    transition: width 0.3s ease;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #3B556D;
    list-style: none;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}
nav li{
    background-color: #3B556D;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 24px ;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: #3B556D;
}
nav ul li a.active,
nav ul li a:hover {
    background-color: #5FC2BA;
    opacity: 0.4;
}
#sous-titre{
    text-decoration: underline;
    font-size: 38px ;
    padding-top: 3%;
    display: flex;
    justify-content: center;
}
.cookieZone{
    text-align: center;
    font-size: 22px;
    float: left;
    margin-left: 5%;
}
button{
    border: none;
    color: white;
    background-color: #0B162C;

}

.showBats{
    width: 60%;
    margin-left: 27%;
    margin-right: -27%;
}

#showBatClickers{
    height: 100px;
    width: auto;
    background-color: red;
}

#showBatGrandma{
    height: 100px;
    width: auto;
    background-color: rgb(128, 86, 31);
}
#showBatFarm{
    height: 100px;
    width: auto;
    background-color: rgb(255, 123, 0);
}

.batiments{
    float: right;
    text-align: right;
}
#cookie{
    background-color:hsla(0, 0%, 0%, 0) ;
    border-radius: 175px;
    border: none;
    cursor: pointer;
    
}
#cookie_img{
    border-radius: 125px;
}
#success-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333 !important;
    color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
    z-index: 9999;
    pointer-events: none;
}

#success-popup.show {
    opacity: 1;
    bottom: 50px;
}

strong #success-title{
    background-color: #333;
}
span #success-description{
    background-color: #333;
}